services:
  db:
    image: postgres:17 
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT_EXTERNAL}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT_EXTERNAL: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - db
      - redis

  redis:
    image: redis/redis-stack:latest
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"

volumes:
  pgdata: